*{
    margin: 0;
    padding: 0;
}

body{
    background: #F9FAFC;
}

a{
    color: #fff;
    text-decoration: none;
}

a,button,input,textarea{
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    outline: none;
}
